<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            ngModel
            required
            class="form-control"
            #nameInput="ngModel">
          <span class="help-block" *ngIf="nameInput.invalid && nameInput.touched">Please enter a name</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
            class="form-control"
            #amountInput="ngModel">
          <span class="help-block" *ngIf="amountInput.invalid && amountInput.touched">Please enter a valid number</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="f.invalid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" [disabled]="!editMode" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          <span class="help-block" *ngIf="f.invalid && f.touched">Please enter all values</span>
        </div>
      </div>
    </form>
  </div>
</div>
