<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredStatus">
      <br>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br>
      <label for="sortSelect">Sort By:</label>
      <select id="sortSelect" [(ngModel)]="sortProperty">
        <option value="instanceType">Type</option>
        <option value="name">Name</option>
        <option value="status">Status</option>
        <option value="started">Started</option>
      </select>
      <br><br>
      <h2>App Status: {{ appStatus | async }}</h2>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus | sort:sortProperty"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:15 }}</strong> |
          {{ server.instanceType | uppercase | reverse }} |
          {{ server.started | date:'fullDate' }}
        </li>
      </ul>
    </div>
  </div>
</div>
