<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <app-server-element
        *ngFor="let element of serverElements"
        [srvElement]="element"
        [name]="element.name">
        <p #contentParagraph>
          <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control
        (gameTick)="onGameTick($event)"
        (gameStart)="onGameStart()"
        (gameEnd)="onGameEnd()"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h4 style="text-align: end;">Odd Numbers</h4>
      <div class="row" *ngFor="let number of gameValues">
        <div class="col-xs-12"  *ngIf="number % 2 === 1"><app-odd [number]="number"></app-odd></div>
      </div>
    </div>
    <div class="col-xs-3">
      <h4>Even Numbers</h4>
      <div class="row" *ngFor="let number of gameValues">
        <div class="col-xs-12" *ngIf="number % 2 === 0"><app-even [number]="number"></app-even></div>
      </div>
    </div>
  </div>
</div>
